.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #db382f;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* chart */
.boton-bar{
  background-image: url(../img/bar-icon.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}

.boton-bar:hover{
  background-image: url(../img/bar-icon-hover.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}
.boton-donut{
  background-image: url(../img/donut-icon.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}

.boton-donut:hover{
  background-image: url(../img/donut-icon-hover.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}
.boton-combo{
  background-image: url(../img/combo-icon.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}

.boton-combo:hover{
  background-image: url(../img/combo-icon-hover.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}
.boton-scatter{
  background-image: url(../img/scatter-icon.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}

.boton-scatter:hover{
  background-image: url(../img/scatter-icon-hover.png);
  background-color: #ffffff00;
    border: 0px;
  width: 50px;
  height: 50px;
}